<input class="list-group-item-check pe-none" type="radio" name="choice" id="parry" value="Parry">
      <label class="list-group-item rounded-3 py-3" for="parry">
        Parry
        <span class="d-block small opacity-50">Defends you from a stab or rush,</span>
        <span class="d-block small opacity-50">and stabs your opponent if they haven't been already.</span>
        <span class="d-block small opacity-50">Can only be used once per life</span>
      </label>